<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>

    <add key="ExchangeUrl" value="xxxxxx"/>
    <add key="Domain" value="xxxxxx"/>
    <add key="Account" value="xxx"/>
    <add key="Password" value="xxxx!@#"/>

  </appSettings>
</configuration>